  <div class="grid-container grid-padding-x">
    <fieldset class="fieldset fieldset-container cell">
      <legend class="open-sans">Mes favoris (<strong>{{nombreProjet}}</strong>).</legend>
    </fieldset>
  </div>
