###> VSCode ###
.venv
.vscode/
.VSCodeCounter/
###< VSCode ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
composer.lock
package-lock.json
symfony.lock
var/log/doctrine.log
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
.npmrc
package-lock.json
###< symfony/webpack-encore-bundle ###

###> git ###
.git.store
.git-credentials
.gitconfig
.gitconfig.git
###< git ###

###> audit ###
css-report.json
jslint-report.json
phpstan-report.json
.scannerwork/
settings.json
sonar-project.properties
###< audit ###

###> php-cs-fixe ###
/tools/
.php-cs-fixer.cache
.php-cs-fixer.dist.php
###< php-cs-fixe ###

###> SQLite ###
/var/data-*
/var/temp-*
/var/data_*
/var/temp_*
/var/data.db-journal*
###< SQLite ###

###> docker ###
composer.bat
###< docker ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache
/var/log/test.log
/.phpunit.cache/
/build/
/reports/
.env.test
.env.test.local
.env.local
*.tmp
###< phpunit/phpunit ###

###> Traces batch ###
/var/audit/*
###< Traces batch ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###


## Fichiers temporaires
*.old
*.backup

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
