        <div class="callout-footer open-sans">
          <a class="ligne" href="#"><strong>Fiabilité</strong>&nbsp;: <span id="nombre-bug" class="stat resultat"></span></a>
          <ul class="stats-list">
            <li><span class="stats-list-label">B</span>
                <span id="bug-bloquante" class="stats-list-rouge-intense">0</span></li>
            <li><span class="stats-list-label">C</span>
                <span id="bug-critique" class="stats-list-rouge-claire">0</span></li>
            <li><span class="stats-list-label">I</span>
                <span id="bug-info" class="stats-list-bleu">0</span></li>
            <li><span class="stats-list-label">M</span>
                <span id="bug-majeure" class="stats-list-orange">0</span></li>
            <li><span class="stats-list-label">m</span>
                <span id="bug-mineure" class="stats-list-vert">0</span></li>
          </ul>
          <a class="ligne" href="#"><strong>Sécurité</strong>&nbsp;: <span id="nombre-vulnerabilite" class="stat resultat"></span></a>
          <ul class="stats-list">
            <li><span class="stats-list-label">B</span>
              <span id="vulnerabilite-bloquante" class="stats-list-rouge-intense">0</span></li>
            <li><span class="stats-list-label">C</span>
              <span id="vulnerabilite-critique" class="stats-list-rouge-claire">0</span></li>
            <li><span class="stats-list-label">I</span>
              <span id="vulnerability-info" class="stats-list-bleu">0</span></li>
            <li><span class="stats-list-label">M</span>
              <span id="vulnerabilite-majeure" class="stats-list-orange">0</span></li>
            <li><span class="stats-list-label">m</span>
              <span id="vulnerabilite-mineure" class=" stats-list-vert">0</span></li>
          </ul>

          <a class="ligne" href="#"><strong>Maintenalibité</strong>&nbsp;: <span id="nombre-mauvaise-pratique" class="stat resultat"></span></a>
          <ul class="stats-list">
            <li><span class="stats-list-label">B</span>
              <span id="mauvaise-pratique-bloquante" class="stats-list-rouge-intense">0</span></li>
            <li><span class="stats-list-label">C</span>
              <span id="mauvaise-pratique-critique" class="stats-list-rouge-claire">0</span></li>
            <li><span class="stats-list-label">I</span><span id="mauvaise-pratique-info" class="stats-list-bleu">0</span></li>
            <li><span class="stats-list-label">M</span>
              <span id="mauvaise-pratique-majeure" class="stats-list-orange">0</span></li>
            <li><span class="stats-list-label">m</span>
              <span id="mauvaise-pratique-mineure" class="stats-list-vert">0</span></li>
          </ul>
        </div>

