<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
  <span>
  {% if sorted %}
    {% if direction == 'desc' %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="z-a-svg">
          <path style="opacity:.966" d="M188.5-.5h134c9.714 7.2 10.047 14.7 1 22.5a1181.558 1181.558 0 0 1-68 1.5c-22.728.151-45.395-.349-68-1.5-9.047-7.8-8.714-15.3 1-22.5Z"/><path style="opacity:.932" d="M191.5 45.5c42.668-.167 85.335 0 128 .5 6.633 1.258 10.3 5.258 11 12-.7 6.742-4.367 10.742-11 12-42.667.667-85.333.667-128 0-6.633-1.258-10.3-5.258-11-12 .804-6.822 4.471-10.988 11-12.5ZM190.5 92.5c43.335-.167 86.668 0 130 .5 9.45 3.975 11.784 10.475 7 19.5-2.217 3.047-5.217 4.547-9 4.5-42 .667-84 .667-126 0-11.449-3.231-14.283-10.064-8.5-20.5 2.095-1.625 4.261-2.958 6.5-4Z"/>
          <path style="opacity:.987" d="M260.5 511.5h-10A39735.893 39735.893 0 0 0 98 362.5c-4.643-8.451-2.81-14.951 5.5-19.5 24.331-.5 48.664-.667 73-.5-.167-62.668 0-125.334.5-188 1.664-7.51 6.164-12.343 13.5-14.5 43.333-.667 86.667-.667 130 0 2.315 1.109 3.815 2.943 4.5 5.5a6606.235 6606.235 0 0 1 1.5 197c27.002-.167 54.002 0 81 .5 8.44 4.454 10.274 10.954 5.5 19.5a39735.893 39735.893 0 0 0-152.5 149Z"/></svg>
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="a-z-svg">
          <path style="opacity:.991" d="M251.5-.5h9a32770.126 32770.126 0 0 1 153.5 151c3.176 7.467 1.343 13.3-5.5 17.5-27.331.5-54.665.667-82 .5a6606.235 6606.235 0 0 1-1.5 197c-.685 2.557-2.185 4.391-4.5 5.5-43.333.667-86.667.667-130 0-4.855-1.505-8.688-4.338-11.5-8.5a6340.473 6340.473 0 0 1-1.5-194c-25.002.167-50.002 0-75-.5-6.843-4.2-8.676-10.033-5.5-17.5A10983.862 10983.862 0 0 1 251.5-.5Z"/>
          <path style="opacity:.966" d="M188.5 394.5c44.668-.167 89.335 0 134 .5 7.927 5.197 9.427 11.697 4.5 19.5-1.8 1.817-3.966 2.984-6.5 3.5-43.333.667-86.667.667-130 0-9.042-3.578-11.542-9.745-7.5-18.5a37.84 37.84 0 0 1 5.5-5Z"/><path style="opacity:.931" d="M192.5 440.5c42.001-.167 84.001 0 126 .5 7.333.667 11.333 4.667 12 12-.7 6.742-4.367 10.742-11 12-42.667.667-85.333.667-128 0-6.633-1.258-10.3-5.258-11-12 .845-7.343 4.845-11.51 12-12.5Z"/><path style="opacity:.967" d="M322.5 511.5h-134c-9.887-7.279-10.22-14.779-1-22.5a1182.464 1182.464 0 0 1 68-1.5c22.728-.151 45.395.349 68 1.5 9.22 7.721 8.887 15.221-1 22.5Z"/>
        </svg>
    {% endif %}
  {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="sort-svg">
      <path d="M100.5 20.5c11.224-1.468 19.724 2.532 25.5 12A9817.982 9817.982 0 0 1 192.5 213c-2.671 15.686-12.005 22.686-28 21-5.241-1.239-9.408-4.072-12.5-8.5a1431.776 1431.776 0 0 1-13.5-33.5 704.916 704.916 0 0 0-65 .5 1861.02 1861.02 0 0 1-12.5 32c-8.653 10.614-19.153 12.78-31.5 6.5-9.827-9.34-11.66-20.173-5.5-32.5a25770.311 25770.311 0 0 1 64-169c3.3-4.382 7.466-7.382 12.5-9Zm5 85c.617.111 1.117.444 1.5 1a1011.296 1011.296 0 0 0 15.5 41 182.078 182.078 0 0 1-33 .5 651.552 651.552 0 0 0 16-42.5ZM292.5 20.5c7.805-1.119 14.805.715 21 5.5l85.5 85.5c8.783 11.826 7.95 22.992-2.5 33.5-10.051 5.83-19.717 5.163-29-2L320 95.5l-1 188c-4.902 11.706-13.735 16.539-26.5 14.5-7.833-2.5-13-7.667-15.5-15.5l-1-187-48.5 48.5c-9.646 7.321-19.313 7.321-29 0-7.901-8.948-9.068-18.781-3.5-29.5L285.5 24l7-3.5Z" opacity=".977"/><path d="M376.5 191.5c14.459-2.363 23.959 3.304 28.5 17l1 207a1908.49 1908.49 0 0 1 52.5-51.5c13.163-5.005 23.33-1.505 30.5 10.5 2.68 8.198 1.68 15.865-3 23L397.5 486c-9.333 6-18.667 6-28 0L281 397.5c-8.889-19.221-3.056-31.221 17.5-36 4.686.449 9.019 1.949 13 4.5l49.5 49.5 1-207c2.169-7.998 7.003-13.665 14.5-17Z" opacity=".971"/>
      <path d="M36.5 276.5c46.335-.167 92.668 0 139 .5 15.374 6.088 19.874 16.921 13.5 32.5l-102.5 137a4145.33 4145.33 0 0 0 91 1.5c11.818 5.471 16.318 14.637 13.5 27.5-2.258 7.889-7.425 12.722-15.5 14.5-46.333.667-92.667.667-139 0-15.602-6.797-19.768-17.964-12.5-33.5L126.5 320a2282.18 2282.18 0 0 1-94-2c-12.394-8.201-15.227-19.034-8.5-32.5 3.3-4.382 7.466-7.382 12.5-9Z" opacity=".979"/></svg>
  {% endif %}
  </span>
  <span class="margin-right-05">{{title}}</span>
</a>
