############# Environnement (linux/amd64)
platform=linux/amd64

#Default vars
LOCAL_TZ=Europe/Paris
LOCAL_LANG=fr_FR.utf8

############# Volumes
## à modifier selon l'environnement
root_volume="."

############# PostgreSQL
postgresql_initdb="--locale-provider=icu --icu-locale=fr-FR"
docker pull postgres:18.1
postgresql_version=18.1-alpine3.22
postgresql_user=db_user
postgresql_password=db_password
postgresql_db=ma_moulinette

############# Nginx
nginx_version=1.29.3-alpine3.22

############# PRoXY
http_proxy=http://proxy.serveur.fr:8080
https_proxy=http://proxy.serveur.fr:8080
no_proxy=localhost,127.0.0.1,localaddress,.serveur.fr,localhost,*.serveur.fr,postgresql,php-fpm,nginx

#Traefik vars
traefik_host=[changeMe].serveur.fr
traefik_pathprefix=/ma-moulinette
traefik_lb_port=80
traefik_container=ma-moulinette
traefik_forwarded_prefix=/ma-moulinette/
traefik_enable=true
