############# Environnement (linux/amd64)
platform=linux/amd64

############# Volumes
## à modifier selon l'environnement
root_volume="C:/environnement/docker-ma-moulinette"

############# PostgreSQL
postgresql_initdb="--locale-provider=icu --icu-locale=fr-FR"
postgresql_version=16.4-alpine3.20
postgresql_user=db_user
postgresql_password=db_password
postgresql_db=ma_moulinette

############# Nginx
nginx_version=1.27.1-alpine3.20
