
.pass-wrapper { margin-bottom: 0.5rem; }

/** initialisation de la barre de progression en gris */
.pass-graybar {
  height: 3px;
  background-color: #CCC;
  width: 100%;
  position: relative;
}

/** réferentiel colométrique */
.pass-colorbar {
  height: 3px;
  background-image: url('../images/passwordstrength.jpg');
  position: absolute;
  top: 0;
  left: 0;
}

/** taille de l'affichage du pourcentage et du texte */
.pass-percent, .pass-text { font-size: 0.9rem; }
.pass-percent { margin-right: 5px; }
