/*======== Global         =============*/
.ea-content {
    background: #f8fafc;
    padding: 30px;
    min-height: 100vh;
}

.open-sans,
.open-sans-bold,
.claire-hand { color: #00445b; }

.font-size-09 { font-size: 0.9rem; }
.font-size-1 { font-size: 1rem; }
.font-size-11 { font-size: 1.1rem; }

/*======== Page Dashboard =============*/
.dashboard-card {
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
    display: block;

    background: #ffffff;
    border: 1px solid #e5e7eb;

    box-shadow: 0 6px 18px rgba(0,0,0,0.06);

    transition: all 0.25s ease;
    position: relative;
}

.dashboard-card::after {
    content: "→";
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 18px;
    color: #9ca3af;
}

.dashboard-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 35px rgba(0,0,0,0.15);
}

/* TOP */
.dashboard-card-top {
    padding: 35px 20px 25px;
    text-align: center;
    height: 9rem;
}

/* Icône */
.dashboard-card-top i {
    font-size: 44px;
    color: #00445b;
    margin-bottom: 10px;
}

/* Titre */
.dashboard-card-top h3 {
    color: #000;
    margin: 0;
}

/* BOTTOM */
.dashboard-card-bottom {
    background: #f4f6f8;
    padding: 12px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: #00445b;
    font-size: 13px;
    height: 8rem;
    line-height: 1.4
}

/* Ligne accent */
.dashboard-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #00445b;
}

/* Hover icône */
.dashboard-card:hover i {
    transform: scale(1.2);
}

.card-users::before { background: #2563eb; }
.card-groups::before { background: #7c3aed; }
.card-wallet::before { background: #059669; }
.card-batch::before { background: #ea580c; }
.card-stats::before { background: #dc2626; }

/*========== Page statistique  ============*/
.card-font-size { font-size: 1.2rem; }
.card-text-font-size { font-size: 2.4rem; }

.couleur-vert { color: #048404 !important; }
.couleur-orange { color: #c75e08 !important; }
.couleur-rouge { color: #bf0815 !important; }
