{% block footer %}
	<!-- Footer -->
	<footer class="footer">
		<div class="open-sans-light footer-padding">
			<span class="copyright">©
				{{dateCopyright}}
				- CC BY-SA-NC 4.0</span>
			<span class="show-for-small-only open-sans float-right auteur color-blanc">L. HADJADJ</span>
			<span class="show-for-medium open-sans float-right auteur color-blanc">Laurent HADJADJ</span>
		</div>
	</footer>
{% endblock %}
