 <!-- head -->
    <div class="grid-x cell">
		<div class="small-2 medium-1 large-1 cell">
			<img class="marianne" src="{{ asset('build/images/marianne.svg') }}" alt="marianne" />
		</div>
		<div class="small-10 medium-11 large-11 cell">
			<h1 class="claire-hand">
				<a class="ma-moulinette" href="/" rel="next" title="Retour vers la page principale">Ma Moulinette</a>
			</h1>
			<h5 class="show-for-small-only claire-hand version">V. {{version}}</h5>
			<h5 class="show-for-medium claire-hand version">Version {{version}}</h5>
		</div>
    </div>
